.conversion-container {
    justify-self: center;
    width: 95%;
    max-width: 500px;
    margin-bottom: 5rem;
}
// Only for the footer to be last on the page.
.conversion-container:last-child {
    margin-bottom: 20rem;
}