<h2>Om</h2>
<article>
    <h3>Uppgiften</h3>
    <p>
        Jag löste uppgiften genom att följa uppgiftbeskrivningen. Jag försökte slå flera flugor i en smäll, men när jag
        insåg att det stod att man behövde göra en komponent för konverteringar slutade det med att menyn blev lite
        extra.
        Menyn blev ganska bra, fungerar för mobil och större skärmar, det är en egen komponent. Konvertering för temperatur och längd är sina egna komponenter. Det finns global styling som h2 är centrerad och font-family är roboto.
    </p>
</article>
<article>
    <h3>Slutsats</h3>
    <p>
        Det var riktigt kul att arbeta på detta sätt med hjälp av Angular. Komponenter gjorde att menyn kunde skrivas en gång och inte för varje sida. Single-page application gjorde att transitionen för menyn mellan olika undersidor blev riktigt bra.
    </p>
</article>